:root {
    --primary-color: black;
    --primary-bgc: #fefefe; /* primary background color */
    --second-bgc: rgba(0,0,0,0.4);
}

.modal {
    display: nont;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--primary-bgc);
    background-color: var(--second-bgc);
}

.modal-content {
    background-color: var(--primary-bgc);
    border: 1px solid #888;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--primary-bgc);
    cursor: pointer;
    text-decoration: none;
}